{% extends 'base.html' %}

{% load heroicons %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container d-flex justify-content-center mt-5 mb-5">
    <div class="col-md-8">
        <div class="p-4 border rounded shadow-sm">
            <h4 class="mb-4">Password Change Form</h4>
            <form method="post" action="{% url 'change_password' %}">
                {% csrf_token %}
                <div class="mb-4">
                {{ form|crispy }}
                </div>

                <button type="submit" class="btn btn-primary col-2">Update</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}