{% extends 'base.html' %}

{% load heroicons %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container d-flex justify-content-center align-items-center" style="height: 75vh;">
    <div class="col-md-8">
        <div class="p-4 border rounded shadow-sm">
            <h4 class="mb-4">Login Form</h4>
            <form method="post" action="{% url 'user_login' %}">
                {% csrf_token %}
                <div class="mb-4">
                {{ form|crispy }}
                </div>

                <button type="submit" class="btn btn-primary col-2">Login</button>
                &nbsp;
                <span>if don't have an account <a href="{% url 'user_signup' %}">Sign-up!</a></span>
            </form>
        </div>
    </div>
</div>

{% endblock %}